
<nav class="w-full flex items-center justify-between py-5 px-4 absolute z-30 opacity-0.2 h-[10vh]">
    <h1 class="font-bold text-xl hover:border-b-green-500">Blog Web</h1>
    <div class="navtag font-semibold flex gap-8 ">
        <a href="/">Home</a>
        <a href="/createblog">Create Blog</a>
        <a href="/about">About</a>
        <a href="/contact">Contect</a>
    </div>

    <div class="login-singup font-semibold flex gap-5">
        <a class="bg-green-300 p-1 px-3 rounded-full hover:bg-transparent border-2 duration-[0.3s]  hover:border-green-950 hover:text-black " href="/login">Login</a>
        <a class="bg-green-300 p-1 px-3 rounded-full hover:bg-transparent border-2 duration-[0.3s]  hover:border-green-950 hover:text-black " href="/register">Register</a>
    </div>
</nav>
