<%- include('partials/header')%>
<!--  -->
<%- include('partials/nav')%>
  <!--  -->
  <div class="w-[80%] mx-auto p-10 ">
  <h1>conatct page</h1>
  </div>
  <!--  -->
  <%- include('partials/footer')%>